#root {
  max-width: 1280px;
  margin: 0 auto;

}




.embed-youtube-one-clip {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 1200px;
  margin: auto; /* Center the entire container horizontally */
}